{{!-- Mensajes de error --}}
{{>ourMessages}}

<div class="d-flex flex-row-reverse">
  <a href="/agregar_categoria" class="btn btn-success btn-lg m-2">Agregar categoría</a>
</div>
{{!-- card-columns --}}
<div class="row row-cols-1 row-cols-md-3">
  {{#if categories}}
  {{#each categories}}
  <div class="col mb-4 animate__animated animate__fadeInDown">
    <div class="card mb-2 animate__animated animate__pulse">

      <h3 class="card-header bg-dark text-white text-center">{{name}}</h3>

      <div class="card-body">
        <h5 class="card-title text-center">{{description}}</h5>
        <p class="card-text">Creado: {{createdAt}}</p>
        <p class="card-text">Ultima modificación: {{updatedAt}}</p>
        <div class="btn-div">
          <a href="/actualizar_categoria/{{url}}" class="btn btn-primary btn-lg btn-card">Actualizar</a>
          <button name="eliminar-categoria" type="button"
            class="btn btn-danger btn-lg btn-card ml-1">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
</div>

<div class="alert alert-info" role="alert">
  <h5>Aún no tienes ningúna categoría. ¡Anímate a crear una!</h5>
</div>
{{/if}}